<footer>
  <div class="f-info ">
    <div class="f-info-socials">
      <a href="https://www.facebook.com/VeloraStay" target="_blank"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://www.instagram.com/velorastay/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://twitter.com/VeloraStay" target="_blank"><i class="fa-brands fa-twitter"></i></a>
    </div>
    <div>&copy; Velora Stay Private Limited</div>
    <div class="f-info-links">
       <a href="/Privacy">Privacy</a>
       <a href="/terms">Terms & Conditions</a>
    </div>
  </div>
</footer>