<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="alert alert-danger m-5 col-8 mx-auto" role="alert">
    <h4 class="alert-heading">Error</h4>
    <p><%= message %></p>
  </div>
</div>